# Filter stations according to a different parameter & Change names to English For the station analysis-3 page

### analysis of the station from: https://ims.gov.il/he/node/1949¶
##### sheet1 = rain_stations, name: meta data archive ims 1_1.xls

In [1]:
import pandas as pd

In [2]:
df_rain_stations = pd.read_excel('Data Base/meta data archive ims 1_1.xls',sheet_name='rain_stations') 
df_rain_stations.head()

,מספר התחנה,שם התחנה,שם התחנה בלועזית,סוג התחנה,קואורדינטות ברשת ישראל החדשה מזרח,קואורדינטות ברשת ישראל החדשה צפון,קואורדינטות אורך גיאוגרפיות E,קואורדינטות אורך גיאוגרפיות N,גובה מעל פני הים (מטר),תאריך הפתיחה,תאריך הסגירה,תקופת זמינות הנתונים
0,110010,ראש הנקרה תחנה משטרה,ROSH HA NIQRA POLICE,מאוישת,210180,777600,35.1051º,33.0937º,60,1924-09-01 00:00:00,1948-06-01 00:00:00,09/1933 - 05/1948
1,110021,ראש הנקרה,ROSH HANIQRA,אוטומאטית,210430,776160,35.1079º,33.0806º,10,2003-09-01 00:00:00,NaN,09/2007 -
2,110050,כפר ראש הנקרה,KEFAR ROSH HANIQRA,מאוישת,211090,776760,35.1149º,33.0861º,50,1949-09-01 00:00:00,NaN,09/1949 -
3,110100,שלומי - אל-בסה,SHELOMI - EL-BASSA,מאוישת,213750,775800,35.1434º,33.0775º,50,1946-02-01 00:00:00,1947-07-01 00:00:00,02/1946 - 05/1947
4,110150,בצת,BEZET,מאוישת,213200,775150,35.1375º,33.0716º,35,1953-09-01 00:00:00,1967-05-31 00:00:00,09/1953 - 05/1967

###  Change names to English

In [3]:
df_rain_stations=df_rain_stations.rename(columns={df_rain_stations.columns[0]: "station num",
                                                  df_rain_stations.columns[1]: "station name_He",
                                                  df_rain_stations.columns[2]:"station name",
                                                  df_rain_stations.columns[3]:"station type",
                                                  df_rain_stations.columns[4]:"Coordinates on the New Israel Mizrah network",
                                                  df_rain_stations.columns[5]: "Coordinates on the New Israel North network",
                                                 df_rain_stations.columns[6]:"E longitude",
                                                 df_rain_stations.columns[7]:"N latitiuot",
                                                 df_rain_stations.columns[8]:"Altitude above sea level (meters)",
                                                  df_rain_stations.columns[9]:"The opening date",
                                                  df_rain_stations.columns[10]:"The closing date",
                                                  df_rain_stations.columns[11]:"Data availability period"
                                                 })
df_rain_stations.head()

,station num,station name_He,station name,station type,Coordinates on the New Israel Mizrah network,Coordinates on the New Israel North network,E longitude,N latitiuot,Altitude above sea level (meters),The opening date,The closing date,Data availability period
0,110010,ראש הנקרה תחנה משטרה,ROSH HA NIQRA POLICE,מאוישת,210180,777600,35.1051º,33.0937º,60,1924-09-01 00:00:00,1948-06-01 00:00:00,09/1933 - 05/1948
1,110021,ראש הנקרה,ROSH HANIQRA,אוטומאטית,210430,776160,35.1079º,33.0806º,10,2003-09-01 00:00:00,NaN,09/2007 -
2,110050,כפר ראש הנקרה,KEFAR ROSH HANIQRA,מאוישת,211090,776760,35.1149º,33.0861º,50,1949-09-01 00:00:00,NaN,09/1949 -
3,110100,שלומי - אל-בסה,SHELOMI - EL-BASSA,מאוישת,213750,775800,35.1434º,33.0775º,50,1946-02-01 00:00:00,1947-07-01 00:00:00,02/1946 - 05/1947
4,110150,בצת,BEZET,מאוישת,213200,775150,35.1375º,33.0716º,35,1953-09-01 00:00:00,1967-05-31 00:00:00,09/1953 - 05/1967

### Change type

In [4]:
df_rain_stations.dtypes

station num                                      int64
station name_He                                 object
station name                                    object
station type                                    object
Coordinates on the New Israel Mizrah network     int64
Coordinates on the New Israel North network      int64
E longitude                                     object
N latitiuot                                     object
Altitude above sea level (meters)               object
The opening date                                object
The closing date                                object
Data availability period                        object
dtype: object


#### E longitude                 to float
#### N latitiuot                  to float

#### The opening date                                to datetime64[ns]
#### The closing date                                  to datetime64[ns]

In [5]:

df_rain_stations['E longitude'] = df_rain_stations['E longitude'].str.rstrip('º').astype(float)
df_rain_stations['N latitiuot'] = df_rain_stations['N latitiuot'].str.rstrip('º').astype(float)
#df_rain_stations['Altitude above sea level (meters)'] = df_rain_stations['Altitude above sea level (meters)'].str.astype(int)

df_rain_stations['The opening date'] = pd.to_datetime(df_rain_stations['The opening date'], errors='coerce')
df_rain_stations['The closing date'] = pd.to_datetime(df_rain_stations['The closing date'], errors='coerce')




df_rain_stations.dtypes

station num                                              int64
station name_He                                         object
station name                                            object
station type                                            object
Coordinates on the New Israel Mizrah network             int64
Coordinates on the New Israel North network              int64
E longitude                                            float64
N latitiuot                                            float64
Altitude above sea level (meters)                       object
The opening date                                datetime64[ns]
The closing date                                datetime64[ns]
Data availability period                                object
dtype: object

# Now functions for filtering

### Ate what year did the station first start 
##### default is 1989

In [6]:
def filter_by_opening_date(df, num=1989):
    """
    Filter DataFrame based on 'open date' condition.

    Parameters:
    - df: DataFrame
    - num: Year limit (default is 1989)

    Returns:
    - Filtered DataFrame open before num
    """
    
    
    condition = df['The opening date'].dt.year < num  # Rows where 'open_date' is before the specified year



    # Apply the filter to the DataFrame
    df = df[condition]  

    # Resetting the index might be useful after dropping rows
    df.reset_index(drop=True, inplace=True)

    return df

###  Since what year has the station been closed 
##### if it is open in any case it will pass
###### default is 2020 if NaN is stel open

In [7]:
def filter_by_closing_date(df, num=2020):
    """
    Filter DataFrame based on 'closing date' condition.

    Parameters:
    - df: DataFrame
    - num: Year limit (default is 2020)

    Returns:
    - Filtered DataFrame closed not befor num
    """
   

    # Define the conditions after converting to datetime
    condition1 = df['The closing date'].isna()  # Rows where 'closing_date' is NaN
    condition2 = df['The closing date'].dt.year > num  # Rows where 'closing_date' is before the specified year

    # Combine the conditions using the OR operator (|)
    combined_condition = condition1 | condition2

    # Apply the filter to the DataFrame
    df = df[combined_condition]  

    # Resetting the index might be useful after dropping rows
    df.reset_index(drop=True, inplace=True)

    return df

### How far south are the stations (North South line)

In [8]:
def filter_by_coordinates_south(df, num=554000):
    """
    Filter DataFrame based on the specified column and value.

    Parameters:
    - df: DataFrame
    - num: Threshold value for filtering (default is 554000)
    - column_index: Index of the column to filter (default is 5)

    Returns:
    - Filtered DataFrame
    """
    

    # Define the condition
    condition = df[df.columns[5]].astype(int) <= num

    # Apply the filter to the DataFrame
    df = df[condition] 

    # Resetting the index might be useful after dropping rows
    df.reset_index(drop=True, inplace=True)

    return df

### Allows calling functions  filter together

In [9]:
def combined_filter_function(df, num_coordinates=554000, num_closing_date=2020,num_avlbol=1989):
    """
    Apply multiple filters to a DataFrame.

    Parameters:
    - df: DataFrame
    - num_coordinates: Threshold value for Coordinates South filtering (default is 554000)
    - num_closing_date: Year limit for closing date filtering (default is 2020)

    Returns:
    - Filtered DataFrame
    """
    
    # First filter by Coordinates South
    df_filtered_coordinates = filter_by_coordinates_south(df, num=num_coordinates)

    # Then filter by closing date
    df_final_filtered = filter_by_closing_date(df_filtered_coordinates, num=num_closing_date)
    # Then filter by opening date
    df_temp = filter_by_opening_date(df_final_filtered)
    
   
    return df_temp

In [10]:
filtered_df = combined_filter_function(df_rain_stations)

filtered_df.head()

,station num,station name_He,station name,station type,Coordinates on the New Israel Mizrah network,Coordinates on the New Israel North network,E longitude,N latitiuot,Altitude above sea level (meters),The opening date,The closing date,Data availability period
0,252506,רביבים מאוישת,REVIVIM MAN,מאוישת,173250,550720,34.7205,31.0468,280,1984-09-01,NaT,09/1984 -
1,252510,צומת צפית,ZAFIT JUNCTION,אוגר גשם,218700,550300,35.1966,31.0439,385,1954-09-01,NaT,09/1954 -
2,252520,ממשית כורנוב,MAMSHIT KURNUB,אוגר גשם,206140,548460,35.0650,31.0272,460,1949-09-01,NaT,09/1949 -
3,252540,כביש דימונה ירוחם,DIMONA YEROHAM RD,אוגר גשם,197670,549620,34.9763,31.0376,565,1954-09-01,NaT,09/1954 -
4,252545,מעבר נחל צבוע,NAHAL ZAVOA CROSS,אוגר גשם,188110,548480,34.8762,31.0271,430,1952-09-01,NaT,09/1952 -

In [11]:



filtered_df['station name'] = filtered_df['station name'].str.strip()
filtered_df['station name'] = filtered_df['station name'].apply(lambda x: str(x).upper())
filtered_df['station name'] = filtered_df['station name'].str.replace('\xa0', ' ')
filtered_df

,station num,station name_He,station name,station type,Coordinates on the New Israel Mizrah network,Coordinates on the New Israel North network,E longitude,N latitiuot,Altitude above sea level (meters),The opening date,The closing date,Data availability period
0,252506,רביבים מאוישת,REVIVIM MAN,מאוישת,173250,550720,34.7205,31.0468,280,1984-09-01,NaT,09/1984 -
1,252510,צומת צפית,ZAFIT JUNCTION,אוגר גשם,218700,550300,35.1966,31.0439,385,1954-09-01,NaT,09/1954 -
2,252520,ממשית כורנוב,MAMSHIT KURNUB,אוגר גשם,206140,548460,35.0650,31.0272,460,1949-09-01,NaT,09/1949 -
3,252540,כביש דימונה ירוחם,DIMONA YEROHAM RD,אוגר גשם,197670,549620,34.9763,31.0376,565,1954-09-01,NaT,09/1954 -
4,252545,מעבר נחל צבוע,NAHAL ZAVOA CROSS,אוגר גשם,188110,548480,34.8762,31.0271,430,1952-09-01,NaT,09/1952 -
5,252720,ירוחם סכר,"YEROHAM,DAM",אוגר גשם,189740,544360,34.8934,30.9900,460,1952-09-01,NaT,09/1952 -
6,252730,אשלים שדה חייל מאוישת,ASHALIM S. HAYIL MAN,מאוישת,172020,543620,34.7079,30.9827,305,1981-10-01,NaT,10/1981 -
7,252735,מעלה סדום,SEDOM ASCENT,אוגר גשם,226720,545760,35.2806,31.0029,40,1955-09-01,NaT,09/1955 -
8,252760,המכתש הגדול - שפה מערבית,HAMAKHTESH HAGADOL WEST RIM,אוגר גשם,197230,542370,34.9719,30.9722,590,1961-09-01,NaT,09/1961 -
9,252765,אורון צומת,ORON JUNCTION,אוגר גשם,205300,541370,35.0563,30.9633,355,1952-09-01,NaT,09/1952 -
10,252780,המכתש הגדול,HAMAKHTESH HAGADOL,אוגר גשם,200110,540470,35.0020,30.9551,370,1961-09-01,NaT,09/1961 -
11,252785,כביש אשלים ניצנה קמ 53,ASHALIM NIZZANA ROAD KM 53,אוגר גשם,161680,537730,34.6000,30.9291,370,1958-09-01,NaT,09/1958 -
12,252790,כביש ירוחם שדה בוקר קמ 42,YEROHAM S BOQER ROAD KM 42,אוגר גשם,186400,537390,34.8587,30.9270,550,1952-09-01,NaT,09/1952 -
13,252795,מעלה עקרבים עליון,UPPER MA'ALE AQRABIM,אוגר גשם,212580,536780,35.1326,30.9219,405,1949-09-01,NaT,09/1949 -
14,252870,כוכב,KOKHAV,אוגר גשם,178580,535350,34.7769,30.9084,460,1952-09-01,NaT,09/1952 -
15,252960,ניצנה,NIZZANA,אוגר גשם,143270,532570,34.4078,30.8815,230,1975-09-01,NaT,09/1975 -
16,253000,שדה בוקר מאוישת,SEDE BOQER MAN,מאוישת,180300,531140,34.7950,30.8702,475,1951-09-01,NaT,09/1951 -
17,253020,הר חתירה מעלה,HAR HATIRA ASCENT,אוגר גשם,182900,531030,34.8223,30.8695,530,1952-09-01,NaT,09/1952 -
18,253400,מעלה עקרבים רגם צפיר,MA'ALE AQRABIM REGEM TZAFIR,אוגר גשם,212550,534200,35.1323,30.8987,60,1960-09-01,NaT,09/1960 -
19,254500,כביש - 40 מעבר נחל צין,ROAD 40 - NAHAL ZIN CROSSING,אוגר גשם,179360,513450,34.7859,30.7109,690,1960-09-01,NaT,09/1960 -
20,256200,מכתש רמון,MAKHTESH RAMON,אוגר גשם,183250,503940,34.8269,30.6252,570,1956-09-01,NaT,09/1956 -
21,256250,בור ניצנה,BOR NIZZANA,אוגר גשם,172050,500410,34.7102,30.5930,800,1985-09-01,NaT,09/1985 -
22,256300,הר חורשה,HAR HORESHA,אוגר גשם,154960,500440,34.5320,30.5924,865,1985-09-01,NaT,09/1985 -
23,257200,המישר,HAMESHAR,אוגר גשם,194270,481490,34.9424,30.4230,380,1956-09-01,NaT,09/1956 -
24,258550,נחל חיון,NAHAL HIYYON,אוגר גשם,200550,456310,35.0082,30.1960,280,1958-09-01,NaT,09/1958 -
25,258850,נחל פארן - כביש 40,PARAN RIVER - ROAD 40,אוגר גשם,194850,471850,34.9489,30.3364,270,1963-09-01,NaT,09/1963-
26,259500,צומת סיירים,SAYYARIM JUNCTION,אוגר גשם,186010,423100,34.8582,29.8961,550,1985-09-01,NaT,09/1985 -
27,259700,אבן גבול 82,BOUNDARY PILLAR 82,אוגר גשם,187980,395410,34.8794,29.6463,823,1985-09-01,NaT,09/1985 -
28,286100,מצפה אילת,MIZPE ELAT,אוגר גשם,188700,387810,34.8871,29.5778,500,1986-09-01,NaT,09/1986 -
29,337800,שפך נחל צין,NAHAL ZIN MOUTH,אוגר גשם,228660,539080,35.3008,30.9427,-250,1961-09-01,NaT,09/1961 -
30,341800,נחל עומר קמ 129,NAHAL OMER KM 129,אוגר גשם,217600,495340,35.1852,30.5482,10,1973-09-01,NaT,09/1973 -
31,343000,באר מנוחה קמ 101,BEER MENUHA KM 101,אוגר גשם,213140,468970,35.1388,30.3103,175,1958-09-01,NaT,09/1958 -
32,344000,ערבת יפרוק קמ 82.5,ARVAT YAFRUQ KM 825,אוגר גשם,212280,451110,35.1300,30.1492,240,1949-09-01,NaT,09/1949
33,344500,קמ 71 כביש הערבה,KM 71 ARAVA RD,אוגר גשם,210990,441070,35.1167,30.0586,170,1959-09-01,NaT,09/1959 -

In [12]:
filtered_df.to_csv('Processed Data\meta stations rain.csv')