In [1]:
import pandas as pd
import os
import numpy as np

###### A list of the names in the source information folder "Appears in several places:DB preparing (English, deleting)"

In [2]:
def list_files_in_directory(directory):
    
        # Check if the directory exists
        if not os.path.exists(directory):
            print(f"Directory '{directory}' not found.")
        
        # List files in the directory
        files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f))]
        
        return files
    


directory_path = "Processed Data/station yearly processed"  
file_list = list_files_in_directory(directory_path)




print("List of files in the directory:")

print(file_list)

List of files in the directory:
['ARVAT YAFRUQ KM 825.csv', 'ASHALIM NIZZANA ROAD KM 53.csv', 'BEER MENUHA KM 101.csv', 'BOUNDARY PILLAR 82.csv', 'DIMONA YEROHAM RD.csv', 'EN\xa0GEDI\xa0RD\xa0OPP\xa0MEZADA.csv', 'HAMAKHTESH HAGADOL WEST RIM.csv', 'HAMAKHTESH HAGADOL.csv', 'HAMESHAR.csv', 'HAR HATIRA ASCENT.csv', 'HAR HORESHA.csv', 'KM 71 ARAVA RD.csv', 'KOKHAV.csv', "MA'ALE AQRABIM REGEM TZAFIR.csv", 'MAKHTESH RAMON.csv', 'MAMSHIT KURNUB.csv', 'MIZPE ELAT.csv', 'NAHAL HIYYON.csv', 'NAHAL OMER KM 129.csv', 'NAHAL ZAVOA CROSS.csv', 'NAHAL ZIN MOUTH.csv', 'NIZZANA.csv', 'ORON JUNCTION.csv', 'PARAN RIVER - ROAD 40.csv', 'ROAD 40 - NAHAL ZIN  CROSSING.csv', 'SAYYARIM JUNCTION.csv', 'SEDOM ASCENT.csv', "UPPER MA'ALE AQRABIM.csv", 'YEROHAM S BOQER ROAD KM 42.csv', 'YEROHAM,DAM.csv', 'ZAFIT JUNCTION.csv']

# Prepares one tabla from all the stations in the folder

### A function that creates a DF from a list in files (name : "name.csv" )

In [3]:
def filter_by_opening_date(file_list):
    merged_df =   pd.read_csv("Processed Data/station yearly processed/"+file_list[0])
    merged_df = merged_df.rename(columns={ merged_df.columns[1]: f'{file_list[0][:-4]}'})
    for f in range(1,len(file_list)):

    
    
        df1 = pd.read_csv("Processed Data/station yearly processed/"+file_list[f],encoding='utf-8')
        column_name1 = str(file_list[f][:-4]) 
        df1 = df1.rename(columns={df1.columns[1]: column_name1})
    
        merged_df = pd.merge(df1,  merged_df
                     , on='date',how='outer'  )
    #pd.set_option('display.max_rows', None)
    merged_df = merged_df.sort_values(by='date').reset_index(drop=True)
    return merged_df

In [4]:
merged_df = filter_by_opening_date(file_list)

pd.set_option('display.max_columns', None)

merged_df.head()

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,PARAN RIVER - ROAD 40,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAMSHIT KURNUB,MAKHTESH RAMON,MA'ALE AQRABIM REGEM TZAFIR,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,DIMONA YEROHAM RD,BOUNDARY PILLAR 82,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-1950,NaN,NaN,NaN,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
1,1950-1951,NaN,NaN,NaN,46.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.5
2,1951-1952,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.5
3,1952-1953,NaN,90.0,85.0,59.0,NaN,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.5
4,1953-1954,NaN,112.9,157.0,NaN,NaN,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0

# Preparation of a table according to needs

## Now we will find stations that have missing data

In [5]:
nan_counts = merged_df.isna().sum()



# Display the NaN counts for each column
nan_counts

date                              0
ZAFIT JUNCTION                   24
YEROHAM,DAM                      10
YEROHAM S BOQER ROAD KM 42        5
UPPER MA'ALE AQRABIM              7
SEDOM ASCENT                      6
SAYYARIM JUNCTION                38
ROAD 40 - NAHAL ZIN  CROSSING    22
PARAN RIVER - ROAD 40            24
ORON JUNCTION                     7
NIZZANA                          28
NAHAL ZIN MOUTH                  15
NAHAL ZAVOA CROSS                 4
NAHAL OMER KM 129                24
NAHAL HIYYON                      9
MIZPE ELAT                       38
MAMSHIT KURNUB                    9
MAKHTESH RAMON                   12
MA'ALE AQRABIM REGEM TZAFIR      18
KOKHAV                            7
KM 71 ARAVA RD                   13
HAR HORESHA                      47
HAR HATIRA ASCENT                 9
HAMESHAR                         11
HAMAKHTESH HAGADOL               16
HAMAKHTESH HAGADOL WEST RIM      18
EN GEDI RD OPP MEZADA            11
DIMONA YEROHAM RD                13
BOUNDARY PILLAR 82               41
BEER MENUHA KM 101                9
ASHALIM NIZZANA ROAD KM 53        9
ARVAT YAFRUQ KM 825               6
dtype: int64

In [6]:
nan_counts_beginning = merged_df.apply(pd.Series.first_valid_index)

In [7]:
#Now we will find the number of missing data (from the beginning of the measurement)
nan_counts_after_cuont = nan_counts-nan_counts_beginning

# you can Display the NaN counts for each column
print(nan_counts_after_cuont)

date                              0
ZAFIT JUNCTION                   19
YEROHAM,DAM                       7
YEROHAM S BOQER ROAD KM 42        2
UPPER MA'ALE AQRABIM              7
SEDOM ASCENT                      0
SAYYARIM JUNCTION                 2
ROAD 40 - NAHAL ZIN  CROSSING    11
PARAN RIVER - ROAD 40            10
ORON JUNCTION                     4
NIZZANA                           2
NAHAL ZIN MOUTH                   3
NAHAL ZAVOA CROSS                 1
NAHAL OMER KM 129                 0
NAHAL HIYYON                      0
MIZPE ELAT                        1
MAMSHIT KURNUB                    9
MAKHTESH RAMON                    5
MA'ALE AQRABIM REGEM TZAFIR       7
KOKHAV                            4
KM 71 ARAVA RD                    3
HAR HORESHA                      11
HAR HATIRA ASCENT                 6
HAMESHAR                          4
HAMAKHTESH HAGADOL                4
HAMAKHTESH HAGADOL WEST RIM       6
EN GEDI RD OPP MEZADA             5
DIMONA YEROHAM RD                 8
BOUNDARY PILLAR 82                5
BEER MENUHA KM 101                0
ASHALIM NIZZANA ROAD KM 53        0
ARVAT YAFRUQ KM 825               6
dtype: int64

### total NaN

In [8]:
cell_counts = merged_df.count()
#print(cell_counts)

### Percentage calculation of missing data

In [9]:
prosant_of_mising_data = 100*(nan_counts_after_cuont)/(cell_counts+nan_counts_after_cuont)

print(prosant_of_mising_data)
print(len(prosant_of_mising_data))

date                              0.000000
ZAFIT JUNCTION                   27.941176
YEROHAM,DAM                      10.000000
YEROHAM S BOQER ROAD KM 42        2.857143
UPPER MA'ALE AQRABIM              9.589041
SEDOM ASCENT                      0.000000
SAYYARIM JUNCTION                 5.405405
ROAD 40 - NAHAL ZIN  CROSSING    17.741935
PARAN RIVER - ROAD 40            16.949153
ORON JUNCTION                     5.714286
NIZZANA                           4.255319
NAHAL ZIN MOUTH                   4.918033
NAHAL ZAVOA CROSS                 1.428571
NAHAL OMER KM 129                 0.000000
NAHAL HIYYON                      0.000000
MIZPE ELAT                        2.777778
MAMSHIT KURNUB                   12.328767
MAKHTESH RAMON                    7.575758
MA'ALE AQRABIM REGEM TZAFIR      11.290323
KOKHAV                            5.714286
KM 71 ARAVA RD                    4.761905
HAR HORESHA                      29.729730
HAR HATIRA ASCENT                 8.571429
HAMESHAR                          6.060606
HAMAKHTESH HAGADOL                6.557377
HAMAKHTESH HAGADOL WEST RIM       9.836066
EN GEDI RD OPP MEZADA             7.462687
DIMONA YEROHAM RD                11.764706
BOUNDARY PILLAR 82               13.513514
BEER MENUHA KM 101                0.000000
ASHALIM NIZZANA ROAD KM 53        0.000000
ARVAT YAFRUQ KM 825               8.219178
dtype: float64
32

### We will manually delete everything above 10% of deficiencies

In [10]:
indices_to_remove = []
for f in range(len(prosant_of_mising_data)):
    if prosant_of_mising_data[f] > 10:
        indices_to_remove.append(len(prosant_of_mising_data)-f-1)

print(indices_to_remove)
#HAR HORESHA,MAMSHIT KURNUB,,ROAD 40 - NAHAL ZIN  CROSSING ,HAR HATIRA ASCEN  bor nitzana do not exist
#indax:9,10,24,30
indices_to_remove = [ 23, 15, 13, 4, 3]
print(indices_to_remove)

[30, 24, 23, 15, 13, 10, 4, 3]
[23, 15, 13, 4, 3]

In [11]:

file_list = [file for i, file in enumerate(file_list) if i not in indices_to_remove]



file_list

['ARVAT YAFRUQ KM 825.csv',
 'ASHALIM NIZZANA ROAD KM 53.csv',
 'BEER MENUHA KM 101.csv',
 'EN\xa0GEDI\xa0RD\xa0OPP\xa0MEZADA.csv',
 'HAMAKHTESH HAGADOL WEST RIM.csv',
 'HAMAKHTESH HAGADOL.csv',
 'HAMESHAR.csv',
 'HAR HATIRA ASCENT.csv',
 'HAR HORESHA.csv',
 'KM 71 ARAVA RD.csv',
 'KOKHAV.csv',
 'MAKHTESH RAMON.csv',
 'MIZPE ELAT.csv',
 'NAHAL HIYYON.csv',
 'NAHAL OMER KM 129.csv',
 'NAHAL ZAVOA CROSS.csv',
 'NAHAL ZIN MOUTH.csv',
 'NIZZANA.csv',
 'ORON JUNCTION.csv',
 'ROAD 40 - NAHAL ZIN  CROSSING.csv',
 'SAYYARIM JUNCTION.csv',
 'SEDOM ASCENT.csv',
 "UPPER MA'ALE AQRABIM.csv",
 'YEROHAM S BOQER ROAD KM 42.csv',
 'YEROHAM,DAM.csv',
 'ZAFIT JUNCTION.csv']

### New DF from a new list ( possible to Delete columns in the ready DF )

In [12]:
merged_df = filter_by_opening_date(file_list)
merged_df

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-1950,NaN,NaN,NaN,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
1,1950-1951,NaN,NaN,NaN,46.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.5
2,1951-1952,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.5
3,1952-1953,NaN,90.0,85.0,59.0,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,44.5
4,1953-1954,NaN,112.9,157.0,NaN,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-2018,60.5,90.0,84.0,11.3,47.5,23.5,59.5,87.0,51.5,33.0,113.0,79.5,51.0,29.0,63.0,67.5,31.0,NaN,67.5,54.0,123.5,70.5,52.0,23.5,82.0,26.5
69,2018-2019,67.0,69.0,72.5,52.0,69.0,25.5,81.5,55.5,66.5,49.0,99.5,61.0,30.0,11.0,59.5,71.0,19.0,NaN,75.5,79.0,51.5,72.0,43.5,29.5,67.5,24.5
70,2019-2020,81.0,135.5,153.5,78.5,51.5,91.5,165.5,128.4,106.0,47.0,170.5,85.5,89.5,24.5,121.5,161.5,70.0,NaN,136.5,102.5,87.0,164.5,54.5,116.5,122.5,82.5
71,2020-2021,42.0,28.5,20.0,13.5,26.0,15.5,21.5,25.0,23.5,18.0,67.0,12.5,10.0,15.5,10.5,27.5,13.0,NaN,16.5,11.5,20.0,32.0,34.0,5.5,38.0,NaN
72,2021-2022,30.0,55.0,72.0,NaN,30.0,NaN,60.0,35.0,57.0,32.0,83.0,22.0,24.0,28.0,36.0,71.0,33.0,NaN,NaN,33.0,30.0,55.0,17.0,16.0,55.0,29.0

# Creates two DFs one where all the values are numbers and one where only after the first value are numbers

In [13]:
merged_df2=merged_df.copy()

In [14]:
merged_df2

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-1950,NaN,NaN,NaN,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
1,1950-1951,NaN,NaN,NaN,46.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.5
2,1951-1952,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.5
3,1952-1953,NaN,90.0,85.0,59.0,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,44.5
4,1953-1954,NaN,112.9,157.0,NaN,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-2018,60.5,90.0,84.0,11.3,47.5,23.5,59.5,87.0,51.5,33.0,113.0,79.5,51.0,29.0,63.0,67.5,31.0,NaN,67.5,54.0,123.5,70.5,52.0,23.5,82.0,26.5
69,2018-2019,67.0,69.0,72.5,52.0,69.0,25.5,81.5,55.5,66.5,49.0,99.5,61.0,30.0,11.0,59.5,71.0,19.0,NaN,75.5,79.0,51.5,72.0,43.5,29.5,67.5,24.5
70,2019-2020,81.0,135.5,153.5,78.5,51.5,91.5,165.5,128.4,106.0,47.0,170.5,85.5,89.5,24.5,121.5,161.5,70.0,NaN,136.5,102.5,87.0,164.5,54.5,116.5,122.5,82.5
71,2020-2021,42.0,28.5,20.0,13.5,26.0,15.5,21.5,25.0,23.5,18.0,67.0,12.5,10.0,15.5,10.5,27.5,13.0,NaN,16.5,11.5,20.0,32.0,34.0,5.5,38.0,NaN
72,2021-2022,30.0,55.0,72.0,NaN,30.0,NaN,60.0,35.0,57.0,32.0,83.0,22.0,24.0,28.0,36.0,71.0,33.0,NaN,NaN,33.0,30.0,55.0,17.0,16.0,55.0,29.0

In [15]:
for column in merged_df2.columns[1:]:
    first_non_nan_index = merged_df2[column].first_valid_index()
    merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())

# Display the result
merged_df2

C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())
C:\Users\nisan\AppData\Local\Temp\ipykernel_17620\4008435538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2[column].loc[first_non_nan_index:] = merged_df2[column].loc[first_non_nan_index:].fillna(merged_df2[column].mean())

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-1950,NaN,NaN,NaN,131.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.000000
1,1950-1951,NaN,NaN,NaN,46.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.500000
2,1951-1952,NaN,NaN,NaN,73.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.500000
3,1952-1953,NaN,90.0,85.0,59.000000,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,44.500000
4,1953-1954,NaN,112.9,157.0,58.819697,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-2018,60.5,90.0,84.0,11.300000,47.5,23.500000,59.5,87.0,51.5,33.0,113.0,79.5,51.0,29.0,63.0,67.5,31.0,88.076923,67.5,54.0,123.5,70.5,52.0,23.5,82.0,26.500000
69,2018-2019,67.0,69.0,72.5,52.000000,69.0,25.500000,81.5,55.5,66.5,49.0,99.5,61.0,30.0,11.0,59.5,71.0,19.0,88.076923,75.5,79.0,51.5,72.0,43.5,29.5,67.5,24.500000
70,2019-2020,81.0,135.5,153.5,78.500000,51.5,91.500000,165.5,128.4,106.0,47.0,170.5,85.5,89.5,24.5,121.5,161.5,70.0,88.076923,136.5,102.5,87.0,164.5,54.5,116.5,122.5,82.500000
71,2020-2021,42.0,28.5,20.0,13.500000,26.0,15.500000,21.5,25.0,23.5,18.0,67.0,12.5,10.0,15.5,10.5,27.5,13.0,88.076923,16.5,11.5,20.0,32.0,34.0,5.5,38.0,31.947761
72,2021-2022,30.0,55.0,72.0,58.819697,30.0,22.942857,60.0,35.0,57.0,32.0,83.0,22.0,24.0,28.0,36.0,71.0,33.0,88.076923,89.3,33.0,30.0,55.0,17.0,16.0,55.0,29.000000

In [16]:
numeric_df = merged_df.select_dtypes(include=np.number)
mean = numeric_df.mean()

# fill NaN values with the mean of each column
merged_df.fillna(mean, inplace=True)

merged_df

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-1950,68.008163,96.279365,105.830882,131.000000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,72.000000
1,1950-1951,68.008163,96.279365,105.830882,46.300000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,30.500000
2,1951-1952,68.008163,96.279365,105.830882,73.000000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,38.500000
3,1952-1953,68.008163,90.000000,85.000000,59.000000,50.60597,22.942857,85.843137,75.000000,68.655556,46.401724,110.000000,37.22449,27.375,21.328571,64.844262,92.000000,27.016667,88.076923,80.0,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,44.500000
4,1953-1954,68.008163,112.900000,157.000000,58.819697,50.60597,22.942857,85.843137,89.400000,68.655556,46.401724,144.100000,37.22449,27.375,21.328571,64.844262,94.000000,27.016667,88.076923,96.2,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-2018,60.500000,90.000000,84.000000,11.300000,47.50000,23.500000,59.500000,87.000000,51.500000,33.000000,113.000000,79.50000,51.000,29.000000,63.000000,67.500000,31.000000,88.076923,67.5,54.000000,123.500000,70.500000,52.000000,23.5,82.000000,26.500000
69,2018-2019,67.000000,69.000000,72.500000,52.000000,69.00000,25.500000,81.500000,55.500000,66.500000,49.000000,99.500000,61.00000,30.000,11.000000,59.500000,71.000000,19.000000,88.076923,75.5,79.000000,51.500000,72.000000,43.500000,29.5,67.500000,24.500000
70,2019-2020,81.000000,135.500000,153.500000,78.500000,51.50000,91.500000,165.500000,128.400000,106.000000,47.000000,170.500000,85.50000,89.500,24.500000,121.500000,161.500000,70.000000,88.076923,136.5,102.500000,87.000000,164.500000,54.500000,116.5,122.500000,82.500000
71,2020-2021,42.000000,28.500000,20.000000,13.500000,26.00000,15.500000,21.500000,25.000000,23.500000,18.000000,67.000000,12.50000,10.000,15.500000,10.500000,27.500000,13.000000,88.076923,16.5,11.500000,20.000000,32.000000,34.000000,5.5,38.000000,31.947761
72,2021-2022,30.000000,55.000000,72.000000,58.819697,30.00000,22.942857,60.000000,35.000000,57.000000,32.000000,83.000000,22.00000,24.000,28.000000,36.000000,71.000000,33.000000,88.076923,89.3,33.000000,30.000000,55.000000,17.000000,16.0,55.000000,29.000000

In [17]:
merged_df2["date"] = pd.to_datetime(merged_df2["date"].str.split('-').str[0] + "-01-01")
merged_df2

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-01-01,NaN,NaN,NaN,131.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.000000
1,1950-01-01,NaN,NaN,NaN,46.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.500000
2,1951-01-01,NaN,NaN,NaN,73.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.500000
3,1952-01-01,NaN,90.0,85.0,59.000000,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,44.500000
4,1953-01-01,NaN,112.9,157.0,58.819697,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-01-01,60.5,90.0,84.0,11.300000,47.5,23.500000,59.5,87.0,51.5,33.0,113.0,79.5,51.0,29.0,63.0,67.5,31.0,88.076923,67.5,54.0,123.5,70.5,52.0,23.5,82.0,26.500000
69,2018-01-01,67.0,69.0,72.5,52.000000,69.0,25.500000,81.5,55.5,66.5,49.0,99.5,61.0,30.0,11.0,59.5,71.0,19.0,88.076923,75.5,79.0,51.5,72.0,43.5,29.5,67.5,24.500000
70,2019-01-01,81.0,135.5,153.5,78.500000,51.5,91.500000,165.5,128.4,106.0,47.0,170.5,85.5,89.5,24.5,121.5,161.5,70.0,88.076923,136.5,102.5,87.0,164.5,54.5,116.5,122.5,82.500000
71,2020-01-01,42.0,28.5,20.0,13.500000,26.0,15.500000,21.5,25.0,23.5,18.0,67.0,12.5,10.0,15.5,10.5,27.5,13.0,88.076923,16.5,11.5,20.0,32.0,34.0,5.5,38.0,31.947761
72,2021-01-01,30.0,55.0,72.0,58.819697,30.0,22.942857,60.0,35.0,57.0,32.0,83.0,22.0,24.0,28.0,36.0,71.0,33.0,88.076923,89.3,33.0,30.0,55.0,17.0,16.0,55.0,29.000000

In [18]:
pivot  = pd.melt(merged_df2, id_vars=['date'], var_name='station name', value_name='val')

In [19]:
pivot.head()

        date    station name  val
0 1949-01-01  ZAFIT JUNCTION  NaN
1 1950-01-01  ZAFIT JUNCTION  NaN
2 1951-01-01  ZAFIT JUNCTION  NaN
3 1952-01-01  ZAFIT JUNCTION  NaN
4 1953-01-01  ZAFIT JUNCTION  NaN

In [20]:
merged_df2

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-01-01,NaN,NaN,NaN,131.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.000000
1,1950-01-01,NaN,NaN,NaN,46.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.500000
2,1951-01-01,NaN,NaN,NaN,73.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.500000
3,1952-01-01,NaN,90.0,85.0,59.000000,NaN,NaN,NaN,75.0,NaN,NaN,110.0,NaN,NaN,NaN,NaN,92.0,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,44.500000
4,1953-01-01,NaN,112.9,157.0,58.819697,NaN,NaN,NaN,89.4,NaN,NaN,144.1,NaN,NaN,NaN,NaN,94.0,NaN,NaN,96.2,NaN,NaN,NaN,NaN,NaN,NaN,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-01-01,60.5,90.0,84.0,11.300000,47.5,23.500000,59.5,87.0,51.5,33.0,113.0,79.5,51.0,29.0,63.0,67.5,31.0,88.076923,67.5,54.0,123.5,70.5,52.0,23.5,82.0,26.500000
69,2018-01-01,67.0,69.0,72.5,52.000000,69.0,25.500000,81.5,55.5,66.5,49.0,99.5,61.0,30.0,11.0,59.5,71.0,19.0,88.076923,75.5,79.0,51.5,72.0,43.5,29.5,67.5,24.500000
70,2019-01-01,81.0,135.5,153.5,78.500000,51.5,91.500000,165.5,128.4,106.0,47.0,170.5,85.5,89.5,24.5,121.5,161.5,70.0,88.076923,136.5,102.5,87.0,164.5,54.5,116.5,122.5,82.500000
71,2020-01-01,42.0,28.5,20.0,13.500000,26.0,15.500000,21.5,25.0,23.5,18.0,67.0,12.5,10.0,15.5,10.5,27.5,13.0,88.076923,16.5,11.5,20.0,32.0,34.0,5.5,38.0,31.947761
72,2021-01-01,30.0,55.0,72.0,58.819697,30.0,22.942857,60.0,35.0,57.0,32.0,83.0,22.0,24.0,28.0,36.0,71.0,33.0,88.076923,89.3,33.0,30.0,55.0,17.0,16.0,55.0,29.000000

In [21]:
pivot.to_csv("Processed Data/tol tip.csv")

In [22]:
merged_df2.to_csv("Processed Data/Good stations for toltip map.csv")

In [23]:
merged_df["date"] = pd.to_datetime(merged_df["date"].str.split('-').str[0] + "-01-01")
merged_df

,date,ZAFIT JUNCTION,"YEROHAM,DAM",YEROHAM S BOQER ROAD KM 42,UPPER MA'ALE AQRABIM,SEDOM ASCENT,SAYYARIM JUNCTION,ROAD 40 - NAHAL ZIN CROSSING,ORON JUNCTION,NIZZANA,NAHAL ZIN MOUTH,NAHAL ZAVOA CROSS,NAHAL OMER KM 129,NAHAL HIYYON,MIZPE ELAT,MAKHTESH RAMON,KOKHAV,KM 71 ARAVA RD,HAR HORESHA,HAR HATIRA ASCENT,HAMESHAR,HAMAKHTESH HAGADOL,HAMAKHTESH HAGADOL WEST RIM,EN GEDI RD OPP MEZADA,BEER MENUHA KM 101,ASHALIM NIZZANA ROAD KM 53,ARVAT YAFRUQ KM 825
0,1949-01-01,68.008163,96.279365,105.830882,131.000000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,72.000000
1,1950-01-01,68.008163,96.279365,105.830882,46.300000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,30.500000
2,1951-01-01,68.008163,96.279365,105.830882,73.000000,50.60597,22.942857,85.843137,72.136364,68.655556,46.401724,120.008696,37.22449,27.375,21.328571,64.844262,95.371212,27.016667,88.076923,89.3,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,38.500000
3,1952-01-01,68.008163,90.000000,85.000000,59.000000,50.60597,22.942857,85.843137,75.000000,68.655556,46.401724,110.000000,37.22449,27.375,21.328571,64.844262,92.000000,27.016667,88.076923,80.0,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,44.500000
4,1953-01-01,68.008163,112.900000,157.000000,58.819697,50.60597,22.942857,85.843137,89.400000,68.655556,46.401724,144.100000,37.22449,27.375,21.328571,64.844262,94.000000,27.016667,88.076923,96.2,35.830645,79.024561,103.176364,45.237097,32.5,86.070312,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017-01-01,60.500000,90.000000,84.000000,11.300000,47.50000,23.500000,59.500000,87.000000,51.500000,33.000000,113.000000,79.50000,51.000,29.000000,63.000000,67.500000,31.000000,88.076923,67.5,54.000000,123.500000,70.500000,52.000000,23.5,82.000000,26.500000
69,2018-01-01,67.000000,69.000000,72.500000,52.000000,69.00000,25.500000,81.500000,55.500000,66.500000,49.000000,99.500000,61.00000,30.000,11.000000,59.500000,71.000000,19.000000,88.076923,75.5,79.000000,51.500000,72.000000,43.500000,29.5,67.500000,24.500000
70,2019-01-01,81.000000,135.500000,153.500000,78.500000,51.50000,91.500000,165.500000,128.400000,106.000000,47.000000,170.500000,85.50000,89.500,24.500000,121.500000,161.500000,70.000000,88.076923,136.5,102.500000,87.000000,164.500000,54.500000,116.5,122.500000,82.500000
71,2020-01-01,42.000000,28.500000,20.000000,13.500000,26.00000,15.500000,21.500000,25.000000,23.500000,18.000000,67.000000,12.50000,10.000,15.500000,10.500000,27.500000,13.000000,88.076923,16.5,11.500000,20.000000,32.000000,34.000000,5.5,38.000000,31.947761
72,2021-01-01,30.000000,55.000000,72.000000,58.819697,30.00000,22.942857,60.000000,35.000000,57.000000,32.000000,83.000000,22.00000,24.000,28.000000,36.000000,71.000000,33.000000,88.076923,89.3,33.000000,30.000000,55.000000,17.000000,16.0,55.000000,29.000000

In [24]:
merged_df.to_csv("Processed Data/Good stations for analysis.csv")